---
import '../assets/app.css'
---

<!doctype html>
<html data-theme="fantasy">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Remote Jobs</title>
  </head>
  <body class="antialiased leading-none text-slate-600">
    <slot />
  </body>
</html>
